<html>
	<head>
	</head>
	<body>
		<p>Click <a href="{{ path('mb_dashboard_import') }}">here</a> to import all projects.</p>
		<p>Click <a href="{{ path('mb_dashboard_list_repositories') }}">here</a> to see the list of all imported projects.</p>
		<p>Click <a href="{{ path('mb_dashboard_list_groups') }}">here</a> to see the list of imported groups.</p>
	</body>
</html>
