<html>
	<head>
	</head>
	<body>
		<p>Cliquez <a href="{{ path('mb_dashboard_import') }}">ici</a> pour importer des projets.</p>
		<p>Cliquez <a href="{{ path('mb_dashboard_list') }}">ici</a> pour voir la liste des projets.</p>
	</body>
</html>