<html>
	<head>
	</head>
	<body>
		<a href="{{ path('mb_dashboard_list_group_repositories', {groupId: project.sourceGroup.id}) }}">back</a>
		<table>
			<thead>
				<tr>
					<th>Commit</th>
					<th>External</th>
				</tr>
			</thead>
			<tbody>
				{% for commit in project.commits %}
					<tr>
						<td>
							{{ commit.hash }}
						</td>
						<td>
							<a href="{{ commit.url }}" target="_blank">source</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
